.team-list {
	display: flex;
	gap: 30px;
}

.team{
	background-color: var(--second-backround-color);
}
.team-item {
	width: calc((100% - 90px)/4);
	width: 270px;
	background: #FFFFFF;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}
.team-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	letter-spacing: 0.03em;
	text-align: center;
	color: var(--first-title-color);
	margin: 0 auto 50px;
}
.team-item-title {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--first-title-color);
	margin-bottom: 10px;
}
.team-after-title {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	text-align: center;
	color: var(--first-text-color);
	margin-bottom: 16px;
}
.team-item-box {
	padding: 30px 0;
}
.team-soc{ 
	display: flex;
	justify-content: center;
	gap: 10px;
}
.team-soc-link { 
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background-color:transparent;
	display: flex; 
	align-items: center;
	justify-content: center;
	transition: var(--backgroun-tranzition);
}
.team-soc-icon {
	fill: var(--icons-first-color);
	transition: var(--fill-tranzition);
}
.team-soc-link:hover,
.team-soc-link:focus {
	background-color: var(--accent-color);
}

.team-soc-link:hover .team-soc-icon,
.team-soc-link:focus .team-soc-icon {
	fill: var(--icons-second-color);
}